.card {
    background-color: lightgray; /* Background color */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a card effect */
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 0;
    margin: 20px; /* Margin outside the card */
    min-width: 40vw; /* Allow the card to take full width */
    min-height: 40vh; /* Ensure minimum height to expand */
}

.text {
    margin: 10px 0; /* Margin for text headers */
}

.liii {
    margin-bottom: 10px; /* Margin for list items */
}